<div class="model-form-wrapper">
<h3 class="model-form-heading">Edit Photo</h3>
<hr class="colorgraph">
<%= render 'form', photo: @photo %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>
</div>
